body{
    background-color: aqua;
}
.login-form{
    width: 500px;
    margin: 100px;
    padding: 50px;
    background-color: rgb(171, 171, 185);
    border-radius:10px ;

}
.login-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: blue;
}
.login-form label{


}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    
    font-size: 14px;
}
.login-form input:focus {
    border-color: #2c65e1;
    outline: none;
}

.login-form button {
    width: 90%;
    padding: 10px;
}